<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />

    <add name="SQLConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NORTHWND.MDF;Integrated Security=True;User Instance=false;Connect Timeout=100;"
        providerName="System.Data.SqlClient" />

    <add name="SelfReferenceConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\GanttDatabase.mdf;Integrated Security=True;User Instance=false;Connect Timeout=100;"
      providerName="System.Data.SqlClient" />
    <add name="Linq_To_SQLConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Linq_To_SQL.mdf;Integrated Security=True;User Instance=false;Connect Timeout=100;" providerName="System.Data.SqlClient" />
    <add name="ScheduleConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ScheduleData.mdf;Integrated Security=True;User Instance=false;Connect Timeout=100;" providerName="System.Data.SqlClient" />
    <add name="DiagramDataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DiagramData.mdf;Integrated Security=True;User Instance=false;Connect Timeout=100;" providerName="System.Data.SqlClient" />
    <add name="Adventure Works" connectionString="Data Source=https://bi.syncfusion.com/olap/msmdpump.dll; Initial Catalog=Adventure Works DW 2008 SE;"
     providerName="System.Data.SqlClient" />
    <add name="Adventure Works DW1" connectionString="Data Source=https://bi.syncfusion.com/olap/msmdpump.dll; Initial Catalog=AdventureWorksCube1;"
         providerName="System.Data.SqlClient" />
    <!--<add name="ScheduleDataEntities" connectionString="metadata=res://*/model.Model1.csdl|res://*/model.Model1.ssdl|res://*/model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\ScheduleData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
	  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
	  <add key="FrameWork" value="4.6" />
	<add key="LoadEJResourcesFromAssembly" value="false" />
  </appSettings>
  <system.web>
    <globalization fileEncoding="utf-8" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="Syncfusion.EJ.Web, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Pivot, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.PivotAnalysis.Base, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
        <add assembly="Syncfusion.XlsIO.base, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false">
      <controls>
        <add  namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ.Web, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
        <add  namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
        <add  namespace="Syncfusion.JavaScript.DataVisualization.Models" assembly="Syncfusion.EJ, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
        <add  namespace="Syncfusion.JavaScript.Models" assembly="Syncfusion.EJ, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
        <add  namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ.Pivot, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
		<add  namespace="Syncfusion.JavaScript.Models" assembly="Syncfusion.EJ.Pivot, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.serviceModel>
	  <bindings>
		  <webHttpBinding>
			  <binding maxReceivedMessageSize="2147483647"
			  maxBufferSize="2147483647"
			  maxBufferPoolSize="2147483647">
				  <readerQuotas maxDepth="32"
				  maxArrayLength="2147483647"
				  maxStringContentLength="2147483647"/>
			  </binding>
		  </webHttpBinding>
	  </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebSampleBrowser.OlapChartServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
		<behavior name="WebSampleBrowser.RelationalChartServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.OlapTreeMapServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.OlapGaugeServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.RelationalGaugeServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.OlapGridServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.RelationalGridServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.OlapClientServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.RelationalClientServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="WebSampleBrowser.PagingServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="WebSampleBrowser.OlapChartService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.OlapChartServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IOlapChartService"/>
      </service>
	  <service name="WebSampleBrowser.RelationalChartService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.RelationalChartServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IRelationalChartService"/>
      </service>
      <service name="WebSampleBrowser.OlapTreeMapService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.OlapTreeMapServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IOlapTreeMapService"/>
      </service>
      <service name="WebSampleBrowser.OlapGaugeService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.OlapGaugeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IOlapGaugeService"/>
      </service>
      <service name="WebSampleBrowser.RelationalGaugeService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.RelationalGaugeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IRelationalGaugeService"/>
      </service>
      <service name="WebSampleBrowser.OlapGridService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.OlapGridServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IOlapGridService"/>
      </service>
      <service name="WebSampleBrowser.RelationalGridService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.RelationalGridServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IRelationalGridService"/>
      </service>
      <service name="WebSampleBrowser.OlapClientService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.OlapClientServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IOlapClientService"/>
      </service>
      <service name="WebSampleBrowser.RelationalClientService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.RelationalClientServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WebSampleBrowser.IRelationalClientService"/>
      </service>
      <service name="WebSampleBrowser.PagingService">
        <endpoint address="" behaviorConfiguration="WebSampleBrowser.PagingServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="WebSampleBrowser.IOlapGridService" />
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.3460.0.53, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
  </system.webServer>
      <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			<bindingRedirect oldVersion="1.0.0.0-4.5.0.0" newVersion="6.0.0.0"/>
		  </dependentAssembly>
        </assemblyBinding>
    </runtime>
     <system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="50000000"/>
           </webServices>
       </scripting>
   </system.web.extensions>
</configuration>
