
    .frame {
            width: 100%;
            box-sizing : border-box;
        }

        .e-rotator > li img {
            width: 100%;
            height: 165px;
        }

        input {
            line-height: normal;
            width: 113px;
        }

            input.ejinputtext {
                text-indent: 10px;
            }

        .e-btn {
            width: 120px;
        }

        .e-togglebutton {
            width: 100px;
        }

        #itemMove {
            line-height: normal;
            width: 117px;
        }