 .darktheme .cols-sample-area .e-tooltxt .ToolbarItems
        {
            background-image: url('../images/toolbar/ui-icons-metro.png');
        }

        .cols-sample-area .e-tooltxt .ToolbarItems
        {
            display: block;
            background-image: url('../images/toolbar/ui-icons-dark.png');
            height: 22px;
            width: 22px;
        }

        .e-tooltxt:hover .ToolbarItems,.darktheme .cols-sample-area .e-tooltxt:hover .ToolbarItems
        {
            background-image: url('../images/toolbar/ui-icons-light.png');
        }
       
        .ToolbarItems.LeftAlign_tool
        {
            background-position: -26px -39px;
        }

        .ToolbarItems.CenterAlign_tool
        {
            background-position: -55px -39px;
        }

        .ToolbarItems.RightAlign_tool
        {
            background-position: -89px -39px;
        }

        .ToolbarItems.Justify_tool
        {
            background-position: -123px -39px;
        }

        .ToolbarItems.Bold_tool
        {
            background-position: -159px -39px;
        }

        .ToolbarItems.Italic_tool
        {
            background-position: -196px -39px;
        }

        .ToolbarItems.StrikeThrough_tool
        {
            background-position: -55px -70px;
        }

        .ToolbarItems.Underline_tool
        {
            background-position: -23px -68px;
        }

        .frame
        {
            width:40%;
        }
        .ctrllabel
        {
            height: 28px;
            color: #FFFFFF;
            padding-left: 10px;
            padding-top: 5px;
            font-weight: normal;
            background: #6d6e74; /* Old browsers */
            background: -moz-linear-gradient(top, #6d6e74 0%, #4d4f53 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6e74), color-stop(100%,#4d4f53)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #6d6e74 0%,#4d4f53 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #6d6e74 0%,#4d4f53 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #6d6e74 0%,#4d4f53 100%); /* IE10+ */
            background: linear-gradient(to bottom, #6d6e74 0%,#4d4f53 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6e74', endColorstr='#4d4f53',GradientType=0 ); /* IE6-9 */
        }