/* Sprite css for country flags */
.flag {
    background: url("../../Content/images/autocomplete/flags.png") no-repeat;
    float: left;
    height: 15px;
    margin-right: 10px;
    margin-top: 3px;
    width: 25px;
}

    .flag.flag-am {
        background-position: -25px 0;
    }

    .flag.flag-ar {
        background-position: -50px 0;
    }

    .flag.flag-bd {
        background-position: -75px 0;
    }

    .flag.flag-br {
        background-position: -100px 0;
    }

    .flag.flag-ca {
        background-position: -125px 0;
    }

    .flag.flag-cn {
        background-position: 0 -15px;
    }

    .flag.flag-cu {
        background-position: -25px -15px;
    }

    .flag.flag-dk {
        background-position: -50px -15px;
    }

    .flag.flag-dz {
        background-position: -75px -15px;
    }

    .flag.flag-ee {
        background-position: -100px -15px;
    }

    .flag.flag-eg {
        background-position: -125px -15px;
    }

    .flag.flag-es {
        background-position: 0 -30px;
    }

    .flag.flag-fi {
        background-position: -25px -30px;
    }

    .flag.flag-fr {
        background-position: -50px -30px;
    }

    .flag.flag-gl {
        background-position: -75px -30px;
    }

    .flag.flag-id {
        background-position: -100px -30px;
    }

    .flag.flag-in {
        background-position: -125px -30px;
    }

    .flag.flag-mx {
        background-position: 0 -45px;
    }

    .flag.flag-my {
        background-position: -25px -45px;
    }

    .flag.flag-nl {
        background-position: -50px -45px;
    }

    .flag.flag-no {
        background-position: -75px -45px;
    }

    .flag.flag-nz {
        background-position: -100px -45px;
    }

    .flag.flag-pl {
        background-position: -125px -45px;
    }

    .flag.flag-pt {
        background-position: 0 -60px;
    }

    .flag.flag-qa {
        background-position: -25px -60px;
    }

    .flag.flag-ro {
        background-position: -50px -60px;
    }

    .flag.flag-sa {
        background-position: -75px -60px;
    }

    .flag.flag-sg {
        background-position: -100px -60px;
    }

    .flag.flag-th {
        background-position: -125px -60px;
    }

    .flag.flag-tr {
        background-position: 0 -75px;
    }

    .flag.flag-ua {
        background-position: -25px -75px;
    }

    .flag.flag-us {
        background-position: -50px -75px;
    }

    .flag.flag-uy {
        background-position: -75px -75px;
    }

    .flag.flag-vn {
        background-position: -100px -75px;
    }

    .flag.flag-ye {
        background-position: -125px -75px;
    }

.txt {
    display: table-cell;
    height: 20px;
    vertical-align: middle;
}
